@using ICCPReclamos.Negocio;
@using ICCPReclamos.Datos;
@{
    var Listado = new List<Ingreso>();
    var r = new Datos();
    Listado = r.ListadoReclamosActivos();
    if (Session["usuarioValido"] != null)
    {
        if (!Session["usuarioValido"].Equals("valido"))
        {
            Server.Transfer("Login.aspx", true);
        }
    }
    else
    {
        Server.Transfer("Login.aspx", true);
    }

}

<!DOCTYPE html>
<html lang="es-cl">
<head>
    <title>Listado de Reclamos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href="custom.css" rel="stylesheet">
</head>
<body>


    <div class="container">


        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.aspx">Robotech ICCP.Net</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="index.aspx">Inicio</a></li>
                    <li class="active"><a href="Listado.cshtml">Listado Reclamos</a></li>
                    <li><a href="#">NOTENABLED</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Registro</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Listado todos los reclamos</h1>

            <h2 class="sub-header">Listado de Reclamos Activos e Inactivos</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>RUT</th>
                            <th>Área</th>
                            <th>Comentarios</th>
                            <th>Fecha</th>
                            <th>SLA</th>
                            <th>PDF</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var registro in Listado)
                        {
                            var id = registro.Id;
                            string comentario = registro.Comentarios;
                            if (registro.Comentarios.Length > 20)
                            {
                                comentario = registro.Comentarios.Substring(0, 20) + " (...)";
                            }
                            <tr>
                                <td><a href="Editar.aspx?id=@id">@id</td>
                                <td>@registro.Nombre</td>
                                <td>@registro.Apellido</td>
                                <td>@registro.Rut</td>
                                <td>@registro.Tipo</td>
                                <td>@comentario</td>
                                <td>@registro.Fecha</td>
                                <td>@registro.SLA</td>
                                <td><a href="../PdfUploads/@registro.Pdf"><span class="glyphicon glyphicon-download-alt"></span></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </div>
    <footer class="blog-footer">
        <p>ICCP.Net Platform made with ♥ by <a href="index.aspx">Robotech INC</a></p>
        <p>
            <a href="#">Hacia arriba !</a>
        </p>
    </footer>
</body>

<!-- bootstrap 3 minimizado -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- último js de bs 3 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>