@using ICCPReclamos.Negocio;
@using ICCPReclamos.Datos;
@{
    var Listado = new List<Log>();
    var r = new Datos();
    Listado = r.GetLogs();
    if (Session["usuarioValido"] != null)
    {
        if (!Session["usuarioValido"].Equals("valido"))
        {
            Server.Transfer("Login.aspx", true);
        }
    }
    else
    {
        Server.Transfer("Login.aspx", true);
    }

}

<!DOCTYPE html>
<html lang="es-cl">
<head>
    <title>Logs del sistema</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="custom.css" rel="stylesheet">
    <link href="dashboard.css" rel="stylesheet">
</head>
<body>


    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Expandir</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ICCP Panel Administración</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Usuarios</a></li>
                    <li><a href="#">Logs</a></li>
                    <li><a href="#">Salir</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>
    @*<div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.aspx">Robotech ICCP.Net</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="index.aspx">Inicio</a></li>
                    <li class="active"><a href="Listado.cshtml">Listado Reclamos</a></li>
                    <li><a href="#">NOTENABLED</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Registro</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>*@
    <!-- test -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Inicio <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Reportes</a></li>
                    <li><a href="#">Estadísticas</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">Búsqueda por RUT</a></li>
                    <li><a href="">Búsqueda por ID Reclamo</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">Mantenedor SLA</a></li>
                    <li><a href="">Mantenedor Tipo de Reclamos</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">Mantenedor Usuarios</a></li>
                    <li><a href="">Mantenedor Clientes</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="position:absolute">
                <h1 class="page-header">Panel Administración</h1>
                <h2 class="sub-header">Últimas 20 entradas en el registro de actividades</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>RUT</th>
                                <th>Fecha</th>
                                <th>Mensaje</th>
                                <th>IP</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var registro in Listado.Take(20))
                            {
                                <tr>
                                    <td>@registro.Id</td>
                                    <td>@registro.Rut</td>
                                    <td>@registro.Fecha</td>
                                    <td>@registro.Mensaje</td>
                                    <td>@registro.Ip</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (Listado.Count > 20)
                    {
                        var extra = Listado.Count - 20;
                        <p>+ @extra registros</p>
                    }
                </div>
            </div>
        </div>
    </div>
</body>

<!-- chart js minimizado -->
<!-- bootstrap 3 minimizado -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- último js de bs 3 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>